.eventos-home {
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: fade-in 0.7s ease-in-out forwards;
}

.eventos-title-home {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.eventos-title-home p {
    padding-top: 2rem;
    font-size: 40pt;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 2rem;
    text-shadow: -20px 5px 10px rgba(0, 0, 0, 0.205);
}

.eventos-home ul {
    display: flex;
    text-align: center;
    padding: 0 10rem;
}

.eventos-home span {
    padding-top: 2rem;
    font-size: 40pt;
    color: var(--primary-color);
    font-weight: 600;
    padding-bottom: 5rem;
    text-shadow: -20px 5px 10px rgba(0, 0, 0, 0.205);
}

.eventos-home img {
    box-shadow: -20px 10px 20px rgba(0, 0, 0, 0.479);
    border-radius: 30px;
    transition: .3s ease-in-out;
}

.eventos-home img:hover {
    transform: scale(1.03);
    filter: brightness(.7);
}

@media only screen and (max-width: 480px) {
    .eventos {
        padding: 18rem 0 8rem 0 !important;
    }
    .eventos-title-home {
        padding-bottom: 3rem;
    }

    .eventos-title-home p {
        font-size: 30pt;
        padding: 0;
    }

    .eventos-home {
        display: grid;
    }

    .eventos-home ul {
        display: flex;
        flex-direction: column;
    }

    .eventos-home ul li {
        padding-bottom: 5rem;
    }

    .eventos-home span {
        font-size: 16pt;
    }

    .eventos-home img {
        width: 100%;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .eventos-title-home {
        padding-top: 2rem;
        padding-bottom: 8rem;
    }

    .eventos-title-home p {
        font-size: 30pt;
        padding: 0;
    }

    .eventos-home {
        display: grid;
    }

    .eventos-home ul {
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
    }

    .eventos-home span {
        font-size: 32pt;
    }

    .eventos-home img {
        width: 100%;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .eventos-title-home {
        padding-top: 2rem;
        padding-bottom: 8rem;
    }

    .eventos-title-home p {
        font-size: 30pt;
        padding: 0;
    }

    .eventos-home {
        display: grid;
    }

    .eventos-home ul {
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
    }

    .eventos-home span {
        font-size: 32pt;
    }

    .eventos-home img {
        width: 100%;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1536px) {
    .eventos-title-home {
        padding-top: 2rem;
        padding-bottom: 8rem;
    }

    .eventos-title-home p {
        font-size: 30pt;
        padding: 0;
    }

    .eventos-home {
        display: grid;
    }

    .eventos-home ul {
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
    }

    .eventos-home li {
        display: flex;
        flex-direction: column;
    }

    .eventos-home span {
        font-size: 32pt;
    }

    .eventos-home img {
        width: 50%;
        border-radius: 10px;
    }
}