.perfil {
    padding-top: 15rem;
    background: linear-gradient(180deg, #ffffff, #ececec) no-repeat;
}

.perfil .titulo {
    padding-bottom: 5rem;
    text-align: center;
    color: var(--primary-color);
}

.perfil .titulo p {
    font-size: 38pt;
    font-weight: 600;
}

.container-perfil {
    display: flex;
    justify-content: center;
    padding: 2rem 20rem 15rem;
    gap: 7rem;
}

.foto img {
    width: 300px;
    border-radius: 30px;
}

.textos h2 {
    font-size: 32pt;
    margin-top: -0.5rem;
    padding-bottom: 2rem;
    color: var(--primary-color);
    text-transform: uppercase;
}

.textos p {
    font-size: 14pt;
    line-height: 2rem;
}

@media only screen and (max-width: 480px) {
    .container-perfil {
        text-align: center;
        margin: 0 auto;
        padding: 0 2rem 5rem;
        flex-direction: column;
    }

    .perfil .titulo p {
        font-size: 30pt;
    }

    .textos h2 {
        font-size: 24pt;
    }
}