/* Container Form */
.container-bottom-page {
    display: flex;
    justify-content: center;
    padding-top: 16rem;
    padding-bottom: 7rem;
    background-color: var(--primary-color);
}

.container-form {
    background-color: #ffffff;
    padding: 4rem;
    border-radius: 3rem;
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.493);
}

.container-form p {
    text-align: center;
    color: var(--primary-color);
    font-size: 20pt;
    font-weight: 600;
    padding-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 12pt;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.telefone-container {
    display: flex;
    gap: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    resize: vertical;
}

button {
    padding: 15px;
    width: 200px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.116) -20px -5px 30px 0, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(0, 0, 0, 0.39) 0px -2px 6px 0px inset;
    transition: 0.3s ease-in-out;
}

button:hover {
    filter: contrast(1.25);
}

@media only screen and (max-width: 480px) {
    .container-bottom-page {
        padding-top: 15rem;
        padding-bottom: 0;
    }

    .container-form p {
        font-size: 18pt;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container-form {
        margin-top: 5rem;
        margin-bottom: 10rem;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.644);
    }

    .container-form p {
        text-align: center;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container-form {
        width: 100vw;
        margin: 0 auto;
        margin-top: 5rem;
        margin-bottom: 10rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.425);
    }

    .container-form p {
        text-align: center;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1536px) {

}