.container-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding-top: 15rem;
    padding-bottom: 10rem;
}

.textos-top {
    display: grid;
    gap: 3rem;
    margin-left: 50px;
    width: 600px;
}

.texto1 {
    color: var(--primary-color);
    font-size: 32pt;
    font-weight: 600;
}

.texto2 {
    color: var(--primary-color);
    font-size: 16pt;
    font-weight: 400;
}

.texto3 {
    color: var(--primary-color);
    font-size: 22pt;
    font-weight: 600;
}
.imagem-top img {
    width: 600px;
}

.title {
    display: flex;
}

.linha {
    margin-left: 10%;
    margin-top: 80px;
    background-color: var(--primary-color);
    width: 80%;
    height: 3px;
}

.container-bottom {
    display: flex;
    justify-content: center;
    padding: 2rem 20rem;
}

.container-form {
    width: 800px;
    height: 800px;
}

.pix-form {
    padding-left: 13rem;
    width: 50%;
}

.pix-form p {
    color: var(--primary-color);
    width: 70%;
    font-size: 3rem;
    font-weight: 700;
}

.cnpj {
    font-weight: 600;
    color: var(--secondary-color) !important;
}