/* Container Top*/

.title-contribua {
    display: flex;
    justify-content: center;
    padding-top: 15rem;
}

.title-contribua p {
    font-size: 48pt;
    letter-spacing: -5px;
    font-weight: 700;
    color: var(--primary-color);
    padding: 2rem;
    text-transform: uppercase;
}

.container-top {
    display: flex;
    gap: 5rem;
    padding: 10rem 25rem 10rem;
    background-image: linear-gradient(180deg, #fff, #ececec);
}

.textos-top {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.texto01 {
    color: var(--primary-color);
    font-size: 32pt;
    font-weight: 600;
}

.texto02 {
    color: var(--primary-color);
    font-size: 16pt;
    font-weight: 400;
}

.texto03 {
    color: var(--primary-color);
    font-size: 32pt;
    font-weight: 700;
}

.imagem-top img {
    padding-top: 5rem;
    padding-left: 10rem;
    filter: drop-shadow(-50px 20px 10px rgba(0, 0, 0, 0.356));
}

.container-mid p {
    background-color: #ececec;
    width: 100vw;
    font-size: 20pt;
    text-align: center;
    color: var(--primary-color);
    font-weight: 600;
    padding-bottom: 5rem;
}

/* Container bottom */

.container-bottom {
    display: flex;
    justify-content: center;
    padding: 3rem 19rem;
    padding-bottom: 7rem;
    background: linear-gradient(360deg, #ffffff, #ececec) no-repeat;
}

/* Pix Container*/

.pix-form {
    display: flex;
    flex-direction: row-reverse;
    gap: 10rem;
}

/* Pix Left*/

.pix-left {
    width: fit-content;
    margin: 0 auto;
}

.pix-img {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #ececec;
}

.pix-img img {
    width: 100%;
    max-width: 250px;
    object-fit: cover;
}

.cnpj {
    font-weight: 600;
    color: var(--secondary-color) !important;
}

/* Pix Right */

.qrcode-img {
    width: fit-content;
    margin: 0 auto;
}

.pix-form p {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
}

.pix-form .pix-left span {
    display: grid;
    text-align: center;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 500;
    line-height: 4rem;
}

.form-link{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-link p {
    color: var(--primary-color);
    font-size: 20pt;
    font-weight: 600;
}

.form-link p {
    color: var(--primary-color);
    font-size: 20pt;
    font-weight: 600;
}

.form-link a {
    padding: 15px;
    width: 200px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    color: #fff;
    margin-top: 3rem;
    margin-bottom: 5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.116) -20px -5px 30px 0, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(0, 0, 0, 0.39) 0px -2px 6px 0px inset;
    transition: 0.3s ease-in-out;
}

.form-link a:hover {
    filter: contrast(1.25);
}

@media only screen and (max-width: 480px) {
    .title-contribua p {
        text-align: center;
        font-size: 36pt;
        line-height: 6rem;
        letter-spacing: -3px;
    }
    
    .container-top {
        display: grid;
        padding: 0;
        padding-top: 5rem;
    }

    .textos-top {
        display: grid;
        margin-left: 0;
        width: 100vw;
        text-align: center;
    }
    
    .texto01 {
        color: var(--primary-color);
        font-size: 24pt;
        font-weight: 600;
    }
    
    .texto02 {
        color: var(--primary-color);
        font-size: 12pt;
        font-weight: 400;
    }
    
    .texto03 {
        color: var(--primary-color);
        font-size: 24pt;
        font-weight: 700;
    }

    .imagem-top {
        text-align: center;
    }
    
    .imagem-top img {
        width: 350px;
        padding: 0;
        margin-left: 0;
        margin-bottom: 5rem;
    }

    .container-bottom {
        display: grid;
        width: 100vw;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 5rem;
    }
    
    .pix-form {
        flex-direction: column-reverse;
    }

    .pix-img img {
        height: auto;
    }
    
    .pix-left img {
        width: fit-content;
        margin: 0 auto;
    }

    .pix-left p {
        text-align: center;
        width: 100vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container-top {
        display: grid;
        padding: 0;
        padding-top: 5rem;
    }

    .title-contribua p {
        text-align: center;
        font-size: 36pt;
        line-height: 6rem;
        letter-spacing: -3px;
    }

    .textos-top {
        display: grid;
        margin-left: 0;
        padding-top: 0;
        width: 100vw;
        text-align: center;
    }
    
    .texto01 {
        color: var(--primary-color);
        font-size: 24pt;
        font-weight: 600;
    }
    
    .texto02 {
        color: var(--primary-color);
        font-size: 12pt;
        font-weight: 400;
    }
    
    .texto03 {
        color: var(--primary-color);
        font-size: 24pt;
        font-weight: 700;
    }

    .imagem-top {
        text-align: center;
    }
    
    .imagem-top img {
        width: 400px;
        margin: 0 auto;
        margin-bottom: 5rem;
        padding-left: 0;
    }

    .container-bottom {
        display: grid;
        width: 100vw;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 5rem;
    }
    
    .pix-form {
        flex-direction: column;
    }
    
    .pix-left img {
        width: fit-content;
        margin: 0 auto;
    }

    .pix-left p {
        text-align: center;
        width: 100vw;
    }

    .pix-right {
        margin-top: -8rem;
    }

    .container-form {
        margin-top: 5rem;
        margin-bottom: 10rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.425);
    }

    .container-form p {
        text-align: center;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container-top {
        display: grid;
        padding: 0;
        padding-top: 15rem;
    }

    .textos-top {
        display: grid;
        margin-left: 0;
        width: 100vw;
        text-align: center;
    }
    
    .texto01 {
        color: var(--primary-color);
        font-size: 24pt;
        font-weight: 600;
    }
    
    .texto02 {
        color: var(--primary-color);
        font-size: 12pt;
        font-weight: 400;
    }
    
    .texto03 {
        color: var(--primary-color);
        font-size: 24pt;
        font-weight: 700;
    }

    .imagem-top {
        text-align: center;
    }
    
    .imagem-top img {
        width: 500px;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .container-bottom {
        display: grid;
        width: 100vw;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 5rem;
    }
    
    .pix-form {
        flex-direction: column;
    }
    
    .pix-left img {
        width: fit-content;
        margin: 0 auto;
    }

    .pix-left p {
        text-align: center;
        width: 100vw;
    }

    .pix-right {
        margin-top: -8rem;
    }

    .container-form {
        width: 100vw;
        margin: 0 auto;
        margin-top: 5rem;
        margin-bottom: 10rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.425);
    }

    .container-form p {
        text-align: center;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1536px) {
    .container-top {
        width: 100vw;
        padding: 15rem 8rem 7rem;
    }
    
    .texto01 {
        color: var(--primary-color);
        font-size: 20pt;
        font-weight: 600;
    }
    
    .texto02 {
        color: var(--primary-color);
        font-size: 16pt;
        font-weight: 400;
    }
    
    .texto03 {
        color: var(--primary-color);
        font-size: 20pt;
        font-weight: 700;
    }

    .imagem-top img {
        width: 700px;
    }

    .container-bottom {
        padding: 3rem 8rem 0 12rem;
        padding-bottom: 7rem;
    }

    .pix-form {
        padding-right: 5rem;
        gap: 5rem;
    }

    .pix-form .pix-left {
        width: 100%;
    }

    .pix-img img {
        width: 90%;
    }

    .qrcode-img img{
        width: 100%;
    }
    
    .pix-form p {
        color: var(--primary-color);
        font-size: 2rem;
        font-weight: 700;
        line-height: 4rem;
    }
    
    .pix-form .pix-left span {
        font-size: 1.8rem;
        line-height: 3rem;
        text-align: center;
    }

    .pix-left p {
        line-height: 3rem;
    }

    .cnpj {
        margin-top: -20px;
    }
}
