/* Container Top*/

.container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15rem 17rem 7rem;
    background: linear-gradient(180deg, #ffffff, #ececec) no-repeat;
}

.textos-top {
    display: grid;
    gap: 3rem;
    margin-left: 50px;
    width: 600px;
}

.texto1 {
    color: var(--primary-color);
    font-size: 32pt;
    font-weight: 600;
}

.texto2 {
    color: var(--primary-color);
    font-size: 16pt;
    font-weight: 400;
}

.texto3 {
    color: var(--primary-color);
    font-size: 32pt;
    font-weight: 700;
}
.imagem-top img {
    width: 800px;
}

.title {
    display: flex;
}

.linha {
    margin-left: 7.5%;
    margin-top: 80px;
    background-color: var(--primary-color);
    width: 85%;
    height: 3px;
    border-radius: 15px;
}

/* Container bottom */

.container-bottom {
    display: flex;
    justify-content: center;
    padding: 3rem 19rem;
    padding-bottom: 7rem;
    background: linear-gradient(360deg, #ffffff, #ececec) no-repeat;
}

/* Pix Container*/

.pix-form {
    display: flex;
    gap: 10rem;
}

/* Pix Left*/

.pix-left {
    width: 35%;
}

.pix-img {
    width: fit-content;
    margin: 0 auto;
}

.cnpj {
    font-weight: 600;
    color: var(--secondary-color) !important;
}

/* Pix Right */

.qrcode-img {
    margin-top: -2rem !important;
    width: fit-content;
    margin: 0 auto;
}

.pix-form p {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
}

.pix-form .pix-right span {
    text-align: center;
    display: grid;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 500;
    line-height: 4rem;
}

/* Container Form */

.container-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.24);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

.container-form p {
    color: var(--primary-color);
    font-size: 20pt;
    font-weight: 600;
    padding-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 12pt;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.telefone-container {
    display: flex;
    gap: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    resize: vertical;
}

button {
    padding: 15px;
    width: 200px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.116) -20px -5px 30px 0, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(0, 0, 0, 0.39) 0px -2px 6px 0px inset;
    transition: 0.3s ease-in-out;
}

button:hover {
    filter: contrast(1.25);
}