footer {
    bottom: 0;
    display: flex;
    width: 100vw;
    height: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: linear-gradient(90deg, #0a123a, #111d5c, #1c2d80, #0a123a) no-repeat;
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
    box-shadow: rgba(0, 0, 0, 0.623) 0 0 30px;
}

footer > div {
    font-size: 14pt;
}

@media screen and (max-width: 480px) {
    footer > div {
        font-size: 10pt;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    footer > div {
        font-size: 12pt;
    }
}