.historia {
    width: 100vw;
    padding-left: 20rem;
    padding-top: 15rem;
    padding-bottom: 10rem;
    background: linear-gradient(180deg, #ffffff, #e7e7e7) no-repeat;
}

.historia-title {
    padding-bottom: 5rem;
    text-shadow: -20px 5px 10px rgba(0, 0, 0, 0.205);
}

.historia-title .linha {
    margin-left: 5rem;
    margin-bottom: 9rem;
    height: 3px;
    width: 90rem;
}

.texto {
    display: flex;
    gap: 5rem;
}

.texto .imagens img {
    border-radius: 20px;
}

.texto p {
    width: 50%;
    font-size: 14pt;
    line-height: 3.5rem;
}

.historia-bottom {
    background: linear-gradient(180deg, #ffffff, #e7e7e7) no-repeat;
}

.historia-bottom .imagem {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 5rem;
}

.historia-bottom .imagem img {
    width: 100%;
    transition: 0.3s ease-in-out;
    display: block;
}

.historia-bottom .imagem .text-overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50pt;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.historia-bottom .imagem img:hover {
    filter: brightness(0.6);
}

.historia-bottom .imagem:hover .text-overlay {
    opacity: 1;
}

.historia-bottom .imagem img:not(:hover) + .text-overlay {
    opacity: 0;
}

.visao {
    width: 100%;
    display: grid;
    margin: 0 auto;
    text-align: center;
}

.visao p {
    font-size: 16pt;
    width: 1000px;/*Mudar que está errado*/
    margin: 0 auto;
    font-weight: 500;
    padding: 3rem;
}

.valores-img {
    padding-top: 5rem;
}

.valores-img img {
    margin-bottom: -1rem;
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
    .historia {
        padding-left: 10rem;
    }

    .historia-title h1 {
        font-size: 36pt;
    }
    
    .texto {
        gap: 5rem;
        height: 400px;
    }

    .texto .imagens img {
        width: 400px;
    }
    
    .texto p {
        font-size: 12pt;
        line-height: 2.2rem;
    }

    .historia-bottom .imagem img {
        width: 100%;
    }

    .visao {
        width: 100vw;
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .visao p{
        font-size: 14pt;
        margin: 0 auto;
        font-weight: 500;
        padding: 3rem;
    }

    .valores-img img {
        height: 540px;
        object-fit: cover;
    }
}