.historia {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 15rem;
    padding-bottom: 10rem;
    background: linear-gradient(180deg, #ffffff, #e7e7e7) no-repeat;
}

.historia-title {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 5rem;
    text-shadow: -20px 5px 10px rgba(0, 0, 0, 0.205);
    text-transform: uppercase;
}

.historia-title h1 {
    font-size: 40pt;
}

.texto1 {
    display: flex;
    gap: 10rem;
    padding: 0 30rem 10rem 20rem;
}

.texto1 .imagens img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: -30px 20px 20px rgba(0, 0, 0, 0.250);
    transition: 0.5s ease-in-out;
}

.texto1 .imagens img:hover {
    transform: scale(1.03);
}

.texto1 p {
    align-self: center;
    font-size: 18pt;
    line-height: 4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.texto2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 10rem;
    padding: 0 30rem 0 20rem;
}

.texto2 .imagens img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 30px 20px 20px rgba(0, 0, 0, 0.250);
    transition: 0.5s ease-in-out;
}

.imagens {
    position: relative;
}

.imagens .text-overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30pt;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.imagens img:hover {
    filter: brightness(0.6);
}

.imagens img:not(:hover) + .text-overlay {
    opacity: 0;
}

.imagens img:hover + .text-overlay {
    opacity: 1;
}

.texto2 .imagens img:hover {
    transform: scale(1.03);
}

.texto2 p {
    align-self: center;
    font-size: 18pt;
    line-height: 4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.historia-bottom {
    background: linear-gradient(180deg, #ffffff, #e7e7e7) no-repeat;
}

.historia-bottom .imagem {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 5rem;
}

.historia-bottom .imagem img {
    width: 100%;
    transition: 0.3s ease-in-out;
    display: block;
}

.historia-bottom .imagem .text-overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50pt;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.historia-bottom .imagem img:hover {
    filter: brightness(0.6);
}

.historia-bottom .imagem:hover .text-overlay {
    opacity: 1;
}

.historia-bottom .imagem img:not(:hover) + .text-overlay {
    opacity: 0;
}

.visao {
    width: 100%;
    display: grid;
    margin: 0 auto;
    text-align: center;
}

.visao p {
    font-size: 16pt;
    margin: 0 auto;
    font-weight: 500;
    padding: 3rem 40rem;
}

.valores-img {
    padding-top: 5rem;
}

.valores-img img {
    width: 100%;
    object-fit: cover;
    margin-bottom: -1rem;
}

@media screen and (max-width: 480px) {  
    .historia-title h1 {
        font-size: 30pt;
        text-align: center;
    }
    
    .texto1 {
        display: flex;
        flex-direction: column;
        padding: 0 0 5rem 0; 
        gap: 4rem;
        text-align: center;
    }
    
    .texto1 .imagens img {
        width: 400px;
        height: 300px;
    }
    
    .texto2 {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 4rem;
        text-align: center;
    }
    
    .texto2 .imagens img {
        width: 400px;
        height: 300px;
    }

    .text-overlay {
        font-size: 26pt !important;
    }

    .historia-bottom .imagem {
        display: flex;
        justify-content: center;
        position: relative;
        padding-bottom: 5rem;
    }
    
    .historia-bottom .imagem img {
        object-fit: cover;
        height: 280px;
        transition: 0.3s ease-in-out;
        display: block;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.445);
    }
    
    .historia-bottom .imagem .text-overlay {
        top: 40%;
        font-size: 30pt !important;
    }

    .visao {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .visao h1 {
        font-size: 32pt;
    }
    
    .visao p {
        font-size: 12pt;
        font-weight: 500;
        padding: 0;
    }

    .valores-img img {
        height: auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {  
    .historia-title h1 {
        font-size: 30pt;
        text-align: center;
    }
    
    .texto1 {
        display: flex;
        flex-direction: column;
        padding: 0 0 5rem 0; 
        gap: 4rem;
        text-align: center;
    }
    
    .texto1 .imagens img {
        width: 400px;
        height: 300px;
    }
    
    .texto2 {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 4rem;
        text-align: center;
    }
    
    .texto2 .imagens img {
        width: 400px;
        height: 300px;
    }

    .text-overlay {
        font-size: 26pt !important;
    }

    .historia-bottom .imagem {
        display: flex;
        justify-content: center;
        position: relative;
        padding-bottom: 5rem;
    }
    
    .historia-bottom .imagem img {
        object-fit: cover;
        height: 300px;
        transition: 0.3s ease-in-out;
        display: block;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.445);
    }
    
    .historia-bottom .imagem .text-overlay {
        top: 40%;
        font-size: 30pt !important;
    }

    .visao {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .visao h1 {
        font-size: 32pt;
    }
    
    .visao p {
        font-size: 12pt;
        font-weight: 500;
        padding: 0;
    }

    .valores-img img {
        height: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {  
    .historia-title h1 {
        font-size: 30pt;
        text-align: center;
    }
    
    .texto1 {
        display: flex;
        flex-direction: column;
        padding: 0 0 5rem 0; 
        gap: 4rem;
        text-align: center;
    }
    
    .texto1 .imagens img {
        width: 400px;
        height: 300px;
    }
    
    .texto2 {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 4rem;
        text-align: center;
    }
    
    .texto2 .imagens img {
        width: 400px;
        height: 300px;
    }

    .text-overlay {
        font-size: 26pt !important;
    }

    .historia-bottom .imagem {
        display: flex;
        justify-content: center;
        position: relative;
        padding-bottom: 5rem;
    }
    
    .historia-bottom .imagem img {
        object-fit: cover;
        height: 300px;
        transition: 0.3s ease-in-out;
        display: block;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.445);
    }
    
    .historia-bottom .imagem .text-overlay {
        top: 40%;
        font-size: 30pt !important;
    }

    .visao {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .visao h1 {
        font-size: 32pt;
    }
    
    .visao p {
        font-size: 12pt;
        font-weight: 500;
        padding: 0;
    }

    .valores-img img {
        height: auto;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
    .historia-title h1 {
        font-size: 30pt;
        text-align: center;
    }
    
    .texto1 {
        display: flex;
        flex-direction: row;
        padding: 0 0 5rem 0; 
        gap: 4rem;
        text-align: center;
    }

    .texto1 p {
        font-size: 14pt;
    }
    
    .texto1 .imagens img {
        width: 500px;
        height: 400px;
    }
    
    .texto2 {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 0 5rem 0; 
        gap: 4rem;
        text-align: center;
    }

    .texto2 p {
        font-size: 14pt;
    }
    
    .texto2 .imagens img {
        width: 500px;
        height: 400px;
    }

    .text-overlay {
        font-size: 26pt !important;
    }

    .historia-bottom .imagem img {
        width: 100%;
    }

    .visao {
        width: 100vw;
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .visao p{
        font-size: 14pt;
        margin: 0 auto;
        font-weight: 500;
        padding: 3rem;
    }

    .valores-img img {
        height: 540px;
        object-fit: cover;
    }
}